@import "_global.scss";

$header-background: #f7f7f7;
$header-height: 4rem;
$header-padding: .5rem;
$hover-color: darken($header-background, 3%);

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    .footer-item {
        flex: 0 0 auto;
    }
}

#header {
    background-color: $header-background;
}

.shop-logo-title-container {
    display: flex;
    align-items: center;
    > * {
        margin: 0 .5rem;
    }

    .shop-title {
        font-family: $fonts-curs;
        font-weight: 300;
    }
    .shop-logo img {
        max-height: $header-height - 2 * $header-padding;
        max-width: 100%;
    }
    max-height: $header-height;
    padding: $header-padding 1rem;
}

.shop-logo-title-container:hover {
    background: $hover-color;
}

#global-nav {
    display: flex;
    align-items: flex-end;
    .global-nav-form {
        height: $header-height;
        .global-nav-link {
            height: $header-height;
            text-align: center;
            font-size: 1.25rem;
            padding: 0 .5rem;

            display: table-cell;
            vertical-align: middle;
        }
        .global-nav-link.multiline-nav-link {
            font-size: 1rem;
        }
    }

    .global-nav-form:hover {
        background: $hover-color;
    }
}

