@import "_aside.scss";
@import "_main.scss";

.select-one-list {
    width: auto !important;
}

.ui-selectlistbox-item {
    border-bottom: solid 0.0625rem rgb(213, 213, 213) !important;
}

.ui-selectlistbox-item:last-child {
    border-bottom: none !important;
}

.customer-order {
    margin-bottom: 1rem;

    h4 {
        margin: .5rem 0;
    }

    .order-table-footer {
        margin-top: .5rem;
    }
}

.customer-order:last-child {
    margin-bottom: 0;
}

.global-ajax-status {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}

.suborder-quantity-with-adjust-button {
    margin: 0 .5rem;
}

.category-nav-products-number {
    font-size: small;
    margin-left: .5rem;
    font-weight: normal;
}
.category-nav-products-number::before {
    content: "(";
}
.category-nav-products-number::after {
    content: ")";
}