@import "_aside-nav.scss";

.select-one-list {
    width: auto !important;
}

.ui-selectlistbox-item {
    border-bottom: solid 0.0625rem rgb(213, 213, 213) !important;
}

.ui-selectlistbox-item:last-child {
    border-bottom: none !important;
}

.customer-order {
    margin-bottom: 1rem;
}

.customer-order:last-child {
    margin-bottom: 0;
}

.global-ajax-status {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}